.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-logo-image {
  display: block;
  width: 290px;
  height: auto;
}

.nav-sign-in,
.nav-sign-out {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.nav-user-icon,
.nav-icon {
  width: 35px;
  height: 35px;
  padding: 10px 0 10px 15px;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: none;
  padding: 0;
}

.nav-link:hover {
  text-decoration: underline;
  color: #2c3e50;
}
